@import "tailwindcss";

@theme {
        --color-primary: #491B6D;
        --color-accent: #A26DB1;
        --color-textDark: #000000;
        --color-textLight: #4B4B4B;
        --color-background: #FFFFFF;
        --color-borderLight: #D9D9D9;
        --color-borderDark: #E6E6E6;
  }